.masthead h1.ui.header {
  margin-top: 1em;
}
/*---------------------------------------------
					Index Start
-----------------------------------------------*/
#slider .ui.text.container {
  margin-top: 100px;
  margin-bottom: 150px;
}
#slider .register-btn{
  word-break: keep-all;
  line-height: 1.5;
}

.img-circle{
  height: 350px;
  width: 350px;
  border-radius: 50%;
}
#feature {
  background: url(/featue-bg.jpg);
  background-position: 50% 94px;
  width: 100%;
  display: block;
  position: relative;
  overflow: visible;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 64px 0;
}

#feature .row{
  background: rgba(255,255,255,0.6);
}

table {
  word-break: break-word;
}

table.timetable td, table.timetable th{
  padding: 10px;
  border: 1px solid rgba(34,36,38,.5);
}

.table.table-award p {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 60px auto 40px;
}
.table.table-award {
  margin: 20px auto;
  width: 100%;
  max-width: 690px;
}
.table.table-award th {
  background: #adabab;
  border: solid 1px #ccc;
  color: #fff;
  padding: 10px;
  min-width: 100px;
}
.table.table-award td {
  border: solid 1px #ccc;
  padding: 10px;
}
 
@media screen and (max-width: 640px) {
  .table.table-award th,
  .table.table-award td {
    display: block;
    width: 100%;
  }
}
